.Eunsoo_logo{
    font-family: 'Lobster', cursive;
}

.Eunsoo_footer_botton{
    font-size: .6rem;
}

.Eunsoo_footer{
    text-align: center;
    margin-top: 2rem;
}

.Eunsoo_header{
    text-align: center;
    margin: 2rem 0;
}
